{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <section
                    class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                            <div class="card">
                                <div class="card-body">
                                    {% if error %}
                                        <div>
                                            <div class="alert alert-dismissible alert-danger">
                                                <strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <form class="row g-3 needs-validation" method="post" novalidate>
                                        <div class="col-12">
                                            <div class="input-group has-validation">
                                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                                <input type="text" class="form-control" id="username" name="_username"
                                                       placeholder="username" required>
                                                <div class="invalid-feedback">{{ 'login.form.error.invalid_username'|trans }}</div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <input type="password" class="form-control" id="password" name="_password"
                                                   placeholder="password" required>
                                            <div class="invalid-feedback">{{ 'login.form.error.invalid_password'|trans }}</div>
                                        </div>

                                        <input type="hidden" name="_csrf_token"
                                               value="{{ csrf_token('authenticate') }}">

                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">{{ 'login.form.sign_in'|trans }}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
