{% extends 'application/base_application.html.twig' %}

{% block title %}Create an image{% endblock %}

{% block applicationPageTitle %}Create an image{% endblock %}

{% block applicationSection %}
    {% if errorMessage %}
        <div class="alert alert-dismissible alert-danger">
            <strong>{{ errorMessage }}</strong>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>

        {% if imageUrls %}
            <div id="carouselIndicators" class="carousel carousel-dark  slide">
                <div class="carousel-indicators">
                    {% for index,value in imageUrls %}
                        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="{{ index }}"
                                aria-label="Image {{ index + 1 }}" class="{{ (index == 0) ? 'active' : '' }}"
                                aria-current="{{ (index == 0) ? 'true' : 'false' }}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for index,value in imageUrls %}
                        <div class="carousel-item text-center {{ (index == 0) ? 'active' : '' }}">
                            <img src="{{ value }}" class="img-fluid" alt="{{ inputPrompt }}">
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        {% endif %}
    </div>
{% endblock %}
