{% extends 'application/base_application.html.twig' %}

{% block title %}{{ app_name }} - {{ 'user_menu.profile'|trans }}{% endblock %}

{% block applicationPageTitle %}{{ 'user_menu.profile'|trans }}{% endblock %}

{% block applicationSection %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ app.user.fullName }}</h5>
                    <p class="card-text">{{ app.user.description }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
