{% extends 'application/base_application.html.twig' %}

{% block title %}{{ app_name }} - {{ 'main_menu.text.correct'|trans }}{% endblock %}

{% block applicationPageTitle %}{{ 'main_menu.text.correct'|trans }}{% endblock %}

{% block applicationSection %}
    {% if errorMessage %}
        <div class="alert alert-dismissible alert-danger">
            <strong>{{ errorMessage }}</strong>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>

    {% if outputResponse %}
        {% if outputResponse.output %}
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <p>{{ outputResponse.output }}</p>
                        {% if outputResponse.corrections %}
                            <h5>{{ outputResponse.corrections|length }}</h5>
                            <ul class="list-group list-group-flush">
                                {% for index,value in outputResponse.corrections %}
                                    <li class="list-group-item">
                                        <span class="badge border-danger border-1 text-danger">{{ value.a }}</span>
                                        <span class="badge border-success border-1 text-success">{{ value.b }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
