{% set navigationData = {
    'home': {
        'title': 'Home',
        'icon': 'bi-grid',
        'path': 'application_home_index'
    },
    'chat-nav': {
        'title': 'Chat',
        'icon': 'bi-journal-text',
        'childs': {
            'create_completion': {
                'title': 'Create completion',
                'path': 'application_chat_create_completion'
            },
            'converse': {
                'title': 'Converse',
                'path': 'application_chat_converse'
            }
        }
    },
    'text-nav': {
        'title': 'Text',
        'icon': 'bi-journal-text',
        'childs': {
            'prompt': {
                'title': 'Prompt',
                'path': 'application_text_prompt'
            },
            'translate': {
                'title': 'Translate',
                'path': 'application_text_translate'
            },
        }
    },
    'images-nav': {
        'title': 'Images',
        'icon': 'bi-gem',
        'childs': {
            'create': {
                'title': 'Create',
                'path': 'application_image_create'
            }
        }
    },
    'tools-nav': {
        'title': 'Tools',
        'icon': 'bi-tools',
        'childs': {
            'create': {
                'title': 'Prompts samples',
                'path': 'application_tools_promptssamples'
            }
        }
    }
}
%}

<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        {% for navItemKey,navigationItem in navigationData %}
            <li class="nav-item">
                {% if navigationItem.childs is defined %}
                    <a class="nav-link collapsed" data-bs-target="#{{ navItemKey }}" data-bs-toggle="collapse" href="#">
                        <i class="bi {{ navigationItem.icon }}"></i><span>{{ navigationItem.title }}</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="{{ navItemKey }}" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                        {% for navItemChildKey,navigationChildItem in navigationItem.childs %}
                            {% set isCurrent = (app.request.get('_route') == navigationChildItem.path) %}
                            <li>
                                <a href="{{ path(navigationChildItem.path) }}" class="{{ isCurrent ? 'active' : '' }}">
                                    <i class="bi bi-circle"></i><span>{{ navigationChildItem.title }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {% set isCurrent = (app.request.get('_route') == navigationItem.path) %}
                    <a href="{{ path(navigationItem.path) }}" class="nav-link {{ isCurrent ? '' : 'collapsed' }}">
                        <i class="bi {{ navigationItem.icon }}"></i>
                        <span>{{ navigationItem.title }}</span>
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</aside>