<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        {% for navItemKey,navigationItem in navigationData %}
            <li class="nav-{{ navigationItem.type }}">
                {% if navigationItem.children is defined %}
                    <a class="nav-link {{ navigationItem.active ? '' : 'collapsed' }} {{ navigationItem.disabled ? 'btn border-0 disabled' : '' }}"
                       data-bs-target="#{{ navItemKey }}" data-bs-toggle="collapse" href="#"
                       aria-expanded="{{ navigationItem.active ? 'true' : 'false' }}">
                        <i class="bi {{ navigationItem.icon }}"></i><span>{{ navigationItem.title|trans }}</span><i
                                class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="{{ navItemKey }}" class="nav-content collapse {{ navigationItem.active ? 'show' : '' }}"
                        data-bs-parent="#sidebar-nav">
                        {% for navItemChildKey,navigationChildItem in navigationItem.children %}
                            {% set isCurrent = false %}
                            <li>
                                <a href="{{ path(navigationChildItem.path) }}"
                                   class="{{ navigationChildItem.active ? 'active' : '' }} {{ navigationChildItem.disabled ? 'btn border-0 disabled' : '' }}">
                                    <i class="bi bi-circle"></i><span>{{ navigationChildItem.title|trans }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {% if navigationItem.path is defined %}
                        <a href="{{ path(navigationItem.path) }}"
                           class="nav-link {{ navigationItem.active ? '' : 'collapsed' }} {{ navigationItem.disabled ? 'btn border-0 disabled' : '' }}">
                            <i class="bi {{ navigationItem.icon }}"></i>
                            <span>{{ navigationItem.title|trans }}</span>
                        </a>
                    {% else %}
                        {{ navigationItem.title|trans }}
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</aside>
