{% extends 'application/layout/controller_layout.html.twig' %}

{% block title %}{{ app_name }} | {{ gatewayName }} - {{ 'main_menu.chat.create_completion'|trans }}{% endblock %}

{% block applicationPageTitle %}{{ gatewayName }} - {{ 'main_menu.chat.create_completion'|trans }}{% endblock %}

{% block applicationSection %}
    {% if errorMessage %}
        <div class="alert alert-dismissible alert-danger">
            <strong>{{ errorMessage }}</strong>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>

    {% if outputResponse %}
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <p>{{ outputResponse }}</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
