<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ app_description }}">
    <meta name="keywords" content="OpenAI">
    <meta name="author" content="{{ app_author }}">

    <title>{% block title %}{{ app_name }}{% endblock %}</title>

    <link rel="canonical" href="/">

    <!-- Favicons -->
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('img/apple-touch-icon.png') }}">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i">

    <!-- Vendor theme CSS files -->
    <link rel="stylesheet" href="{{ asset('assets/theme/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/vendor/bootstrap-icons/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/vendor/boxicons/css/boxicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/vendor/quill/quill.snow.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/vendor/quill/quill.bubble.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/vendor/remixicon/remixicon.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/vendor/simple-datatables/style.css') }}">

    <!-- Main theme CSS -->
    <link rel="stylesheet" href="{{ asset('assets/theme/style.css') }}">

    <!-- Custom CSS -->
    {% block stylesheets %}{% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

    <!-- Custom header JS -->
    {% block headerJavascript %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
{% block body %}{% endblock %}

<!-- Vendor theme JS files -->
<script src="{{ asset('assets/theme/vendor/apexcharts/apexcharts.min.js') }}"></script>
<script src="{{ asset('assets/theme/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('assets/theme/vendor/chart.js/chart.umd.js') }}"></script>
<script src="{{ asset('assets/theme/vendor/echarts/echarts.min.js') }}"></script>
<script src="{{ asset('assets/theme/vendor/quill/quill.min.js') }}"></script>
<script src="{{ asset('assets/theme/vendor/simple-datatables/simple-datatables.js') }}"></script>
<script src="{{ asset('assets/theme/vendor/tinymce/tinymce.min.js') }}"></script>
<script src="{{ asset('assets/theme/vendor/php-email-form/validate.js') }}"></script>

<!-- Lib theme JS files -->
<script src="{{ asset('assets/theme/lib/utils.js') }}"></script>

<!-- Main theme JS file -->
<script src="{{ asset('assets/theme/main.js') }}"></script>

<!-- Custom body JS -->
{% block bodyJavascript %}{% endblock %}

</body>
</html>
