{% extends 'application/base_application.html.twig' %}

{% block title %}{{ app_name }} | {{ gatewayName }} - {{ 'main_menu.feature.audio_completion'|trans }}{% endblock %}

{% block applicationPageTitle %}{{ gatewayName }} - {{ 'main_menu.feature.audio_completion'|trans }}{% endblock %}

{% block applicationSection %}
    {% if errorMessage %}
        <div class="alert alert-dismissible alert-danger">
            <strong>{{ errorMessage }}</strong>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card text-center">
                <div class="card-body">

                    <div id="recordingProgressBar" class="progress mb-3 d-none">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    {{ component('OpenAI:FeatureAudioCompletion') }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bodyJavascript %}
    <script src="{{ asset('assets/app/application/openai_feature_audio_completion.js') }}"></script>
{% endblock %}